<section class="card">
   <div class="flex-container">
        <div class="flex-item">
          <div class="game-container">
            <a href="/api/game/{{games.game_id}}">
              <header>{{names}}</header>

              <div class="card-body">
                <img src="{{games.image_url}}">
                <ul class="list-none">
                  <li>Category: {{category}}</li>
                  <li>Players: {{max_players}}</li>
                  <li>Time: {{avg_time}}</li>
                </ul>
              </div>
            </a>
          </div>
        </div >
    </div>
</section>