<section class="card">
  <a href="/api/game/{{game_id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <ul class="list-none">
        <li>Category: {{game.category}}</li>
        <li>Players: {{game.max_players}}</li>
        <li>Age: {{game.age}}</li>
        <li>Time: {{game.max_time}}</li>
        <li>Mechanics: {{game.mechanic}}</li>
      </ul>
    </div>
  </a>
</section>