<section>
    <header>{{title}}</header>
    <div class="card-body">
      <img src="{{image_url}}">
      <ul class="list-none">
        <li>Category: {{category}}</li>
        <li>Players: {{min_players}} - {{max_players}}</li>
        <li>Age: {{age}}</li>
        <li>Time: {{min_time}} - {{max_time}}</li>
        <li>Mechanics: {{mechanic}}</li>
      </ul>
    </div>
</section>

    {{#if loggedIn}}
        <form class="review-form">
            <label>Leave a Review:</label>
            <p style="display: none" id="gameId">{{game_id}}</p>
            <input class="form-input" type="text" id="review-content" placeholder="Leave a Review" required>
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Submit</button>
        </form>
    {{/if}}
    
    <div>
        <a href="/api/review/{{game_id}}"><button>See All Reviews</button></a>
    </div>

<script src="./js/review.js"></script>