<section class="card">
  <a href="/game-page/{{games.game_id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <img src="{{games.image_url}}">
      <ul class="list-none">
        <li>Category: {{category}}</li>
        <li>Players: {{min_players}} - {{max_players}}</li>
        <li>Age: {{age}}</li>
        <li>Time: {{min_time}} - {{max_time}}</li>
        <li>Mechanics: {{mechanic}}</li>
      </ul>
    </div>
  </a>
</section>

    {{#if loggedIn}}
        <form>
            <label>Leave a Review:</label>
            <input class="form-input"type="text" id="review-content" placeholder="Leave a Review">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
            Submit
            </button>
        </form>
    {{/if}}
    
    <div>
        {{#each reviews as |review|}}
            {{> review-card}}
        {{/each}}
    </div>
    
    <div>
        <a href="/review-page"><button>See All Reviews</button></a>
    </div>

{{#if loggedIn}}
 <script src="./js/reviews.js"></script>
{{/if}}

<script src="./js/game-page.js"></script>